# Next.js
.next/
out/

# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# SQLite DB (local state)
data/*.db-journal
data/*.db-wal
